<div class="pando-login-container" >
    <div class="pando-login-left">
      <div class="pando-text-login">
        <div>
          <h1 class="pando-title">Pando</h1>
        </div>
        <div class="body-title">
            Novo por aqui? Para gerir um novo <br> ecossistema de controle, cadastre-se.
        </div>
        <button cButton color="primary" variant="outline">
          <a href="https://estufa-automatica.netlify.app/" target="_blank">
              Cadastrar
          </a>
        </button>
      </div>
    </div>

    <div class="pando-login-form">
        <form cForms >
          <h1 style="text-align: center;">Login</h1>
          <p class="text-medium-emphasis">ou utilize o seu email para logar</p>
          <c-input-group class="mb-3">
            <input autoComplete="username" cFormControl placeholder="Email" />
          </c-input-group>
          <c-input-group class="mb-4">
            <input
              autoComplete="current-password"
              cFormControl
              placeholder="Senha"
              type="password"
            />
          </c-input-group>
          <c-row>
            <c-col xs="6">
              <button cButton color="primary">
                Entrar
              </button>
            </c-col>
            <c-col class="text-right" xs="6">
              <button cButton class="px-0" color="link">
                Esqueceu a senha?
              </button>
            </c-col>
          </c-row>
        </form>


    </div>
</div>





