<div style="height: 100vh; background-color: #84A98C;">
<c-container fluid style="background-color: white;" >
  <c-row>
    <c-col md="6" [offset]="{md: 2}">
      <img src="../../../../assets/images/pando-logo-landing.png" alt="">
    </c-col>
    <c-col md="4">
      <br/>
      <h3><c-badge color="dark" shape="rounded-pill" style="cursor: pointer;">Logar</c-badge></h3>
    </c-col>

  </c-row>
  <c-row style="background-color: #84A98C;">
    <c-col md="5" [offset]="{md: 2}">
      <br>
      <br>
      <br>
      <br>
      <p style="font-size: xx-large; color: white;">
      Gerencie <b>remotamente</b> e <br/>
      acesse <b>informações em</b> <br/>
      <b>tempo real</b> para tomar <br>
      decisões de <b>controle</b> mais <br>
      precisas e eficientes.
      </p>
      <c-row>
        <c-col md="4" [offset]="{md: 2}">
          <h3><c-badge color="pando" shape="rounded-pill" style="border: 2px solid white;cursor: pointer;"><svg [cIcon]="icons.cibWhatsapp"></svg> Contate-nos&nbsp;&nbsp;</c-badge></h3>
        </c-col>
      </c-row>
      <c-row>
        <c-col md="5" [offset]="{md: 2}">
          <button cButton color="dark" size="lg" shape="rounded-pill" type="submit">&nbsp;&nbsp;&nbsp;&nbsp; Cadastre-se &nbsp;&nbsp;&nbsp;&nbsp; </button>
        </c-col>
      </c-row>
    </c-col>
    <c-col md="4">
      <img src="../../../../assets/images/pando_folha.png" alt="" height="80%;">
    </c-col>
  </c-row>

</c-container>
   </div>
