// Here you can add other styles

.pando-landing-container {
  background-color: $pando-color-bg;
  display: flex;
  height: 100vh;
  overflow-y: auto;
}
.pando-landing-left {
  background-color: $pando-color-bg;
  width: 50%;
  color: white;
  justify-content: center;
}

.pando-landing-right {
  background-color: $pando-color-bg;
  width: 50%;
  color: white;
  justify-content: center;
}


.pando-login-container {

  display: flex;
  height: 100vh;
  overflow-y: auto;
}

.pando-text-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  text-align: center;
}

.pando-login-noform {
  background-color: $pando-color-bg;
  width: 30%;
  color: white;
  justify-content: center;
}

.pando-login-form {
  padding: 10px;
  margin: auto;
}

.pando-title{
  font-size: 1000;
}



